.donation-container {
    width: 100%;
    height: 300px;
    //border: 1px solid black;
    padding: 20px;
    font-family: arial;
    max-width: 650px;
    margin: 150px auto 300px;
  }
  
  #goal {
    font-size: 48px;
    text-align: right;
    color: #888;
    @media only screen and (max-width : 640px) {
      text-align: center;  
    }
    
  }
  
  #glass {
    width: 100%;
    height: 20px;
    background: #c7c7c7;
    border-radius: 10px;
    float: left;
    overflow: hidden;
  }
  
  #progress {
    float: left;
    width: 80%;
    height: 20px;
    background: #2ecc71;
    z-index: 333;
    //border-radius: 5px;
  }
  
  .goal-stat {
    width: 25%;
    //height: 30px;
    padding: 10px;
    float: left;
    margin: 0;
    color: #888;
    
    @media only screen and (max-width : 640px) {
      width: 50%;
      text-align: center;
    }
  }
  
  .goal-number, .goal-label {
    display: block;
  }
  
  .goal-number {
    font-weight: bold;
  }