
*, *:before,*:after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
html {
    font-size: 15px;
    margin: 0;
    padding: 0;
    
}
.main-wrapper>header {
    width: 100%;
    height: 100%;
}
header>h1 {
    text-shadow: 0 0 13px #FF0000, 0 0 5px #0000FF;
}
.fun-links>h2 {
    text-shadow: 2px 2px 4px #000000;
}
.thankyou {
}
@media screen and (min-width: 300px) {
    body {
        background: url(./assets/izzyjump.jpg) no-repeat center center fixed; 
        background-size: cover;
        font-family: 'Barlow', sans-serif;
        color: #fff;
        text-align: center;
         
      
}
}
@media screen and (min-width: 768px) {
    body {

        background: url(./assets/izzyshine.jpg) no-repeat center center; 
        background-size: cover;
    }
  
}